<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
  	<!-- Welcome file to fr version because sole implemented lang and it is the cooperative lang -->
    <welcome-file>/fr/page/home</welcome-file>
  </welcome-file-list>
  
  <!-- We define filter mapping here because we need to keep a proper order. -->
  <!-- The EncodingFilter must be in first position and SecurityFilter must be in last position. -->
  <!-- Configurations of filters is done with annotations in proper classes, so we just define the strict minimum here. -->
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>groupWiki</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>security</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>